<div
  class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5"
  tabindex="-1"
  role="dialog"
  id="modalSignin"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Register for free</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-5 pt-0">
        <!-- Form -->
        <form [formGroup]="form">
          <div class="form-floating form-group mb-3">
            <input
              type="text"
              class="form-control rounded-3"
              id="nameInput"
              placeholder="Il tuo nome"
              ngModel
              formControlName="nome"
            />
            <span *ngIf="isInvalid('nome')">Devi inserire il nome</span>
            <label for="nameInput">Nome</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control rounded-3"
              id="usernameInput"
              placeholder="Il tuo cognome"
              ngModel
              formControlName="cognome"
            />
            <span *ngIf="isInvalid('cognome')">Devi inserire il cognome</span>
            <label for="usernameInput">Cognome</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control rounded-3"
              id="floatingPassword"
              placeholder="la tua Password"
              ngModel
              formControlName="password"
            />
            <span *ngIf="isInvalid('password')">
              Devi inserire la password</span
            >
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control rounded-3"
              id="floatingPasswordConfirm"
              placeholder="Conferma la tua Password"
              ngModel
              formControlName="passwordConfirm"
            />
            <span *ngIf="isInvalid('passwordConfirm')"
              >Devi inserire la password
            </span>
            <label for="floatingPasswordConfirm">Conferma Password</label>
          </div>
          <div class="form-group">
            <select class="form-control" formControlName="genere" ngModel>
              <option value="" disabled selected>
                Seleziona il tuo genere
              </option>
              <option *ngFor="let genere of generi" [value]="genere">
                {{ genere }}
              </option>
            </select>
          </div>
          <div class="form-floating mb-3 mt-3">
            <input
              type="file"
              class="form-control rounded-3"
              id="profileImage"
              ngModel
              formControlName="profileImage"
            />
            <span *ngIf="isInvalid('profileImage')"
              >Devi inserire una foto profilo
            </span>
            <label for="profileImage">la tua immagine del profilo</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text-area"
              class="form-control rounded-3"
              id="biografia"
              placeholder="la tua biografia"
              ngModel
              formControlName="biografia"
            />
            <label for="biografia">la tua biografia</label>
          </div>
          <div class="form-floating form-group mb-3">
            <input
              type="text"
              class="form-control rounded-3"
              id="nicknameInput"
              placeholder="Il tuo nome"
              ngModel
              formControlName="nickname"
            />
            <span *ngIf="isInvalid('nickname')"
              >Devi inserire un nickname
            </span>
            <label for="nicknameInput">nickname</label>
          </div>
          <button
            (click)="submit()"
            [disabled]="form.invalid"
            class="w-100 mb-2 btn btn-lg rounded-3 btn-danger"
            type="submit"
          >
            {{ form.invalid ? "Please fill out the form" : "Sign up" }}
          </button>
          <small class="text-body-secondary"
            >By clicking Sign up, you agree to the terms of use.</small
          >
          <div class="d-flex justify-content-center">
            <button
              (click)="autoFillForm()"
              class="w-50 mb-2 btn btn-lg rounded-3 btn-danger"
              type="submit"
            >
              Auto Fill Form
            </button>
          </div>
          <hr class="my-4" />
        </form>

        <!-- Form -->
      </div>
    </div>
  </div>
</div>
